# shopify.app.toml

client_id = "cfebcb69b0f03073c03b3a24444679c6"
name = "review-forge"
application_url = "https://reviews-app-ecru.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = false

[webhooks]
api_version = "2025-10"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
scopes = "read_products,write_products,read_metaobjects,write_metaobjects"

[auth]
redirect_urls = ["https://reviews-app-ecru.vercel.app/auth/callback"]

[app_proxy]
url = "https://reviews-app-ecru.vercel.app/api/proxy"
prefix = "apps"
subpath = "reviews"
