# shopify.app.toml

client_id = "cfebcb69b0f03073c03b3a24444679c6"
name = "review-forge"
application_url = "https://reviews-app-ecru.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2025-10"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
scopes = "read_products,write_products,read_metaobjects,write_metaobjects"

[auth]
# For dev, Shopify CLI will override this in the Partner dashboard,
# but for production we want the real URL here.
redirect_urls = ["https://reviews-app-ecru.vercel.app/auth/callback"]

[app_proxy]
# This MUST be the *base* URL (without /reviews).
# Matches our Remix redirect in app/routes/api.proxy.ts
url = "https://reviews-app-ecru.vercel.app/api/proxy"
prefix = "apps"
subpath = "reviews"
